@font-face {
    font-family: martin-mono;
    src: url("../fonts/martin-mono.ttf") format('truetype');
}

@font-face {
    font-family: dm-serif-display-italic;
    src: url("../fonts/dm-serif-display-italic.ttf") format('truetype');
}

@font-face {
    font-family: dm-serif-display-regular;
    src: url("../fonts/dm-serif-display-regular.ttf") format('truetype');
}

@font-face {
    font-family: inter-regular;
    src: url("../fonts/inter-regular.ttf") format('truetype');
}