@font-face {
    font-family: martin-mono;
    src: url("../fonts/martin-mono.ttf") format('truetype');
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

@font-face {
    font-family: dm-serif-display-italic;
    src: url("../fonts/dm-serif-display-italic.ttf") format('truetype');
}

@font-face {
    font-family: dm-serif-display-regular;
    src: url("../fonts/dm-serif-display-regular.ttf") format('truetype');
}

@font-face {
    font-family: inter-regular;
    src: url("../fonts/inter-regular.ttf") format('truetype');
}

h1 {
    font-family: martin-mono;
    font-weight: 300;
    word-break: break-word;
    hyphens: auto;
    font-size: 40px;
}

a {
    text-decoration: underline;
    transition-duration: 300ms;
    color: #000;
    cursor: pointer;
    text-decoration-color: rgba(0, 0, 0, 0.4);
}

a:hover {
    text-decoration-color: #000;
}

body {
    background: linear-gradient(90deg, #ffffff,#ffda8a);
}