.bio {
    width: 100%;
    font-size: 20px;
    color: #000;
    font-family: martin-mono;
}

.container {
    display: flex;
    box-sizing: border-box;
    padding-top: 100px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column-reverse;
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .about {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        width: 70%;
    }
}

.worker {
    position: relative;
}

@media screen and (max-width: 1024px) {
    .worker {
        width: 100%;
    }
}

.worker_name {
    position: absolute;
    font-family: dm-serif-display-regular;
    font-size: 50px;
}

@media screen and (max-width: 1024px) {
    .worker_name {
        left: 0px;
        top: -40px;
    }
}

@media screen and (min-width: 1024px) {
    .worker_name {
        left: -40px;
        top: -40px;
    }
}

.worker_photo {
    object-fit: cover;
    opacity: 0.4;
    filter: grayscale(100%);
}

@media screen and (max-width: 1024px) {
    .worker_photo {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .worker_photo {
        width: 400px;
    }
}

.contact_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}