.footer {
    display: flex;
    z-index: 2;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 100px;
}

.root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .root {
        padding-top: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .root {
        padding-top: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        align-items: flex-start;
    }
}

.footer_email {
    font-family: martin-mono;
    font-size: 20px;
    font-weight: 200;
}

.footer_links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer_email_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: max-content;
}

.footer_item {
    font-family: martin-mono;
    font-size: 20px;
    color: #000;
    white-space: nowrap;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}